.cta-button {
  background-color: var(--red);
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 5px 10px #db3529a8;
  &:focus {
    outline: none;
  }
}
