<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shish</title>
    <!-- Style Link -->
    <link rel="stylesheet" href="./main.css" />
    <!-- <link rel="stylesheet" href="./css/main-style.css"> -->
    <!-- Top Icon -->
    <link rel="shrtcut icon" type="image/svg" href="./icons/top-logo.png" />
    <!-- Awesome Font -->
    <link rel="stylesheet" href="./css/all.min.css" />
    <!-- Normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Start Header -->
    <main-header></main-header>
    <!-- End Header -->

    <!-- Start Landing -->
    <div class="cook-landing">
      <div class="landing-image">
        <img src="./images/member-page-img/card-background.jpg" alt="" />
      </div>
    </div>
    <!-- End Landing -->

    <!-- Start Main Content -->
    <div class="container">
      <div class="title">
        <h2>Shish</h2>
      </div>
    </div>
    <!-- End Main Content -->

    <!-- JavaScript -->
    <script src="../../includes/templates/header-footer.js"></script>
    <script src="./js/header.js"></script>
  </body>
</html>
