<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shish</title>
    <!-- Style Link -->
    <link rel="stylesheet" href="./main.css" />
    <!-- <link rel="stylesheet" href="./css/main-style.css"> -->
    <!-- Top Icon -->
    <link rel="shrtcut icon" type="image/svg" href="./icons/top-logo.png" />
    <!-- Awesome Font -->
    <link rel="stylesheet" href="./css/all.min.css" />
    <!-- Normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Start Header -->
    <main-header></main-header>
    <!-- End Header -->

    <!-- Start Landing -->
    <div class="cook-landing">
      <div class="landing-image">
        <img src="./images/member-page-img/card-background.jpg" alt="" />
      </div>
    </div>
    <!-- End Landing -->

    <!-- Start Main Content -->
    <div class="container">
      <div class="title">
        <h2>Chicken Shish</h2>
      </div>
      <div class="cooker">
        <p class="creat">Created By</p>
        <a href="member-page.html" class="sub-member">
          <div class="image">
            <img src="./images/member-page-img/cooker.jpg" alt="" />
          </div>
          <div class="text">
            <div class="name">
              <h3>Yusuf Adam</h3>
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="content-container">
        <div class="content">
          <div class="cooking-video">
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/kikisQMhRcA"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="ingredients-contents">
            <div class="ingredients">
              <div class="ingredients-header">
                <div class="image">
                  <img src="./images/cook-page/grocery.png" alt="" />
                </div>
                <h2>Cooking Igredients:</h2>
              </div>
              <div class="ingredients-content">
                <ul>
                  <li>
                    4 boneless skinless chicken breasts, cut into 2.5cm cubes
                  </li>
                  <li>150 g plain yoghurt</li>
                  <li>1 tbsp. extra-virgin olive oil</li>
                  <li>1 medium onion, grated</li>
                  <li>2 cloves garlic, peeled and grated</li>
                  <li>1 tsp. sweet paprika</li>
                  <li>1 tsp. salt</li>
                  <li>1/2 tsp. dried oregano</li>
                  <li>1 tsp. urfa pepper (optional)</li>
                  <li>Zest of half a lemon</li>
                  <li>1 tbsp. lemon juice</li>
                </ul>
                <span class="to-serve">
                  <div class="to-serve-header">
                    <div class="image">
                      <img src="./images/cook-page/serving-dish.png" alt="" />
                    </div>
                    <h2>To Serve:</h2>
                  </div>
                  <ul>
                    <li>1 head little gem lettuce, leaves picked</li>
                    <li>4 pittas breads or flat breads, toasted</li>
                  </ul>
                </span>
              </div>
            </div>
            <div class="directions">
              <div class="directions-header">
                <div class="image">
                  <img src="" alt="" />
                </div>
                <h2>Directions</h2>
              </div>
              <div class="directions-content">
                <p>
                  Pre make the cous cous. Cook as per packet instructions using
                  the chicken stock instead of water.
                </p>
                <p>
                  Drain the cous cous and mix through the preserved lemon, mint
                  and spring onion. Set aside until plating up.
                </p>
                <p>
                  In a large bowl, mix together the yoghurt with the spices,
                  grated onion and garlic, lemon juice and olive oil.
                </p>
                <p>
                  Add the diced chicken and mix well. Marinate for minimum 2
                  hours or ideally overnight.
                </p>
                <p>
                  When ready to cook heat your ridged grill pan or BBQ. If using
                  the grill pan wipe a little oil onto the pan with kitchen roll
                  to stop chicken pieces from sticking. Thread the chicken onto
                  metal skewers.
                </p>
                <p>
                  Grill the kebabs for 10-15 minutes, turning occasionally until
                  charred and cooked through.
                </p>
                <p>
                  When ready to serve, spread the cous cous on a large plate and
                  lay the kebabs across the top. Place the little gem lettuce
                  around the outside of the plate and sprinkle over pomegranate
                  seeds. Serve with flat breads and pickled peppers.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="other-cook">
          <div class="other-cook-header">
            <h3>Other Cook</h3>
          </div>
          <div class="content">
            <div class="cards">
              <!-- It Will Take The Styling From Member Page Cards Style -->
              <!-- Card 01 -->
              <a href="cook-page.html" class="card">
                <div class="image">
                  <img
                    src="./images/member-page-img/card-background2.jpg"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="text">
                    <h2>Salad</h2>
                  </div>
                  <div class="info">
                    <span>
                      <div class="image">
                        <img
                          src="./icons/member-page-icon/favourite.png"
                          alt=""
                        />
                      </div>
                      4.9
                    </span>
                    <span>
                      <div class="image">
                        <img src="./icons/member-page-icon/clock.png" alt="" />
                      </div>
                      <span> 20-30 <span>Min</span> </span>
                    </span>
                  </div>
                </div>
              </a>
              <!-- Card 02 -->
              <a href="cook-page.html" class="card">
                <div class="image">
                  <img
                    src="./images/member-page-img/card-background3.jpg"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="text">
                    <h2>Fish</h2>
                  </div>
                  <div class="info">
                    <span>
                      <div class="image">
                        <img
                          src="./icons/member-page-icon/favourite.png"
                          alt=""
                        />
                      </div>
                      4.9
                    </span>
                    <span>
                      <div class="image">
                        <img src="./icons/member-page-icon/clock.png" alt="" />
                      </div>
                      <span> 20-30 <span>Min</span> </span>
                    </span>
                  </div>
                </div>
              </a>
              <!-- Card 03 -->
              <a href="cook-page.html" class="card">
                <div class="image">
                  <img
                    src="./images/member-page-img/card-background4.jpg"
                    alt=""
                  />
                </div>
                <div class="content">
                  <div class="text">
                    <h2>Sope</h2>
                  </div>
                  <div class="info">
                    <span>
                      <div class="image">
                        <img
                          src="./icons/member-page-icon/favourite.png"
                          alt=""
                        />
                      </div>
                      4.9
                    </span>
                    <span>
                      <div class="image">
                        <img src="./icons/member-page-icon/clock.png" alt="" />
                      </div>
                      <span> 20-30 <span>Min</span> </span>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Content -->

    <!-- JavaScript -->
    <script src="../../includes/templates/header-footer.js"></script>
    <script src="./js/header.js"></script>
  </body>
</html>
