@charset "UTF-8";
:root {
  --main-margin: 80px;
  --section-padding: 60px;
}

header {
  background-color: var(--main-background);
  z-index: 10;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}
header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #333;
}
header .container .logo .image img {
  width: 50px;
}
header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}
@media (max-width: 991px) {
  header .container nav {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
header .container nav .bar {
  display: none;
  font-size: 1.2rem;
  cursor: pointer;
}
@media (max-width: 991px) {
  header .container nav .bar {
    display: block !important;
  }
}
header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
@media (max-width: 991px) {
  header .container nav ul {
    display: none;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  header .container nav ul.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    padding: 1rem;
    -webkit-box-shadow: 2px 2px 10px #00000010;
            box-shadow: 2px 2px 10px #00000010;
    border-radius: 0.6rem;
  }
}
header .container nav ul form.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed var(--sub-text);
  border-radius: 0.6rem;
  margin: 0 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 991px) {
  header .container nav ul form.search-box {
    margin: 1rem auto;
  }
}
header .container nav ul form.search-box i.search-icon {
  color: #333;
  margin: 0 0.5rem;
}
header .container nav ul form.search-box input.search-input {
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem;
  background-color: transparent;
}
header .container nav ul form.search-box input.search-input::-webkit-input-placeholder {
  color: var(--sub-text);
}
header .container nav ul form.search-box input.search-input::-moz-placeholder {
  color: var(--sub-text);
}
header .container nav ul form.search-box input.search-input:-ms-input-placeholder {
  color: var(--sub-text);
}
header .container nav ul form.search-box input.search-input::-ms-input-placeholder {
  color: var(--sub-text);
}
header .container nav ul form.search-box input.search-input::placeholder {
  color: var(--sub-text);
}
header .container nav ul form.search-box input.search-input:focus {
  outline: none;
}
header .container nav ul li {
  padding: 1rem;
  position: relative;
  white-space: nowrap;
}
header .container nav ul li:hover ul {
  display: block;
}
header .container nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container nav ul li a .nav-icon {
  width: 23px;
  margin: 0 0.2rem;
}
header .container nav ul li:hover > a {
  color: var(--red);
}
header .container nav ul li i {
  font-size: 1.2rem;
  margin: 0 0.2rem;
}
header .container nav ul li ul {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 1rem;
  top: 100%;
  left: 0;
  min-width: 100%;
  border-radius: 0.6rem;
  -webkit-box-shadow: 2px 2px 10px #00000010;
          box-shadow: 2px 2px 10px #00000010;
}
header .container nav ul li ul li {
  padding: 0.5rem 1rem;
}
header .container .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}
@media (max-width: 991px) {
  header .container .member {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
header .container .member:hover .member-nav ul {
  display: block;
}
header .container .member .image img {
  width: 40px;
}
header .container .member .member-nav {
  position: relative;
}
header .container .member .member-nav i {
  font-size: 1.2rem;
}
header .container .member .member-nav ul {
  background-color: #fff;
  position: absolute;
  right: 0;
  top: calc(100% + 0.8rem);
  white-space: nowrap;
  list-style: none;
  padding: 1rem;
  border-radius: 0.8rem;
  text-align: center;
  -webkit-box-shadow: 2px 2px 10px #00000010;
          box-shadow: 2px 2px 10px #00000010;
  display: none;
}
header .container .member .member-nav ul li {
  padding: 0.5rem;
  font-weight: 600;
}
header .container .member .member-nav ul li a {
  text-decoration: none;
  color: #333;
}
header .container .member .member-nav ul li:hover > a {
  color: var(--red);
}

:root {
  --green: #7dbfa2;
  --dark-green: #7bbfa4;
  --green-text: #98b4a7;
  --green-background: #eff4f0;
  --red: #db3529;
  --red-text: #ad727c;
  --red-background: #e9d7d8;
  --yellow: #db9f79;
  --yellow-background: #fff2e9;
  --pink: #fb7d73;
  --main-background: #fcf4f0;
  --sub-text: #afa7a3;
}

h1,
h2 {
  font-family: "Aclonica", sans-serif;
}

.cta-button {
  background-color: var(--red);
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px #db3529a8;
          box-shadow: 0 5px 10px #db3529a8;
}
.cta-button:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: var(--pink);
  color: #fff;
}

::selection {
  background-color: var(--pink);
  color: #fff;
}

/* Start secroller Edit */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green-text);
}

/* End secroller Edit */
body {
  /* font-family: "Work Sans", sans-serif; */
  font-family: "Almarai", sans-serif;
  color: #333;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1220px;
  }
}
.home-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: 240px 1fr !important;
  grid-template-columns: 240px 1fr !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* Small */
  /* Medium */
  /* Large */
}
@media (max-width: 820px) {
  .home-container {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
}
@media (min-width: 768px) {
  .home-container {
    width: 820px;
  }
}
@media (min-width: 992px) {
  .home-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .home-container {
    width: 1220px;
  }
}

.background-container {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, var(--main-background)));
  background: linear-gradient(90deg, #fff 50%, var(--main-background) 50%);
}
@media (max-width: 820px) {
  .background-container {
    background: unset;
    background-color: var(--main-background) !important;
  }
}

nav {
  background-color: #fff;
}
@media (max-width: 820px) {
  nav {
    background-color: transparent;
  }
}
nav .nav-container {
  height: 100vh;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0;
  position: fixed;
  top: auto;
}
@media (max-width: 820px) {
  nav .nav-container {
    width: 100%;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding: 1rem 0;
  }
}
nav .nav-container .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 820px) {
  nav .nav-container .top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
nav .nav-container .top .logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-container .top .logo-content .logo img {
  width: 60px;
}
nav .nav-container .top .member {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 820px) {
  nav .nav-container .top .member {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 1rem;
  }
}
nav .nav-container .top .member .image {
  width: 70px;
  height: 70px;
  border-radius: 0.6rem;
  background-color: var(--pink);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px #41414180 inset;
          box-shadow: 0 0 4px #41414180 inset;
}
@media (max-width: 820px) {
  nav .nav-container .top .member .image {
    width: 50px;
    height: 50px;
    margin: 0 1rem;
  }
}
nav .nav-container .top .member .image img {
  width: 100%;
  height: 100%;
}
nav .nav-container .top .member .name {
  text-align: center;
}
nav .nav-container .top .member .name h2 {
  font-size: 1.3rem;
  margin: 0.2rem 0;
}
@media (max-width: 820px) {
  nav .nav-container .top .member .name h2 {
    font-size: 0.8rem;
    white-space: nowrap;
  }
}
nav .nav-container .top .member .name span {
  color: #bebebe;
}
@media (max-width: 820px) {
  nav .nav-container .top .member .name span {
    font-size: 0.7rem;
  }
}
nav .nav-container .top .member .cooked-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 50px;
  background-color: #fff;
  text-decoration: none;
  color: #333;
  -webkit-box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.2);
          box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.2);
}
@media (max-width: 820px) {
  nav .nav-container .top .member .cooked-box {
    display: none;
  }
}
nav .nav-container .top .member .cooked-box .cooked-box-icon {
  color: var(--red);
  margin-right: 0.5rem;
  font-size: 1rem;
}
nav .nav-container .top .member .cooked-box span {
  font-weight: 600;
}
nav .nav-container .nav-links .bar {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 820px) {
  nav .nav-container .nav-links .bar {
    display: block;
  }
}
nav .nav-container .nav-links .bar.active + ul {
  display: block;
}
nav .nav-container .nav-links ul {
  list-style: none;
}
@media (max-width: 820px) {
  nav .nav-container .nav-links ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
    top: 96px;
    text-align: center;
    border-radius: 1rem;
  }
}
nav .nav-container .nav-links ul li {
  margin: 1rem 0;
}
@media (max-width: 820px) {
  nav .nav-container .nav-links ul li {
    padding: 1rem;
  }
}
nav .nav-container .nav-links ul li a {
  opacity: 0.5;
  color: #333;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}
nav .nav-container .nav-links ul li a .nav-icon {
  margin-right: 0.2rem;
  font-size: 1rem;
}
nav .nav-container .nav-links ul li:hover a {
  opacity: 1;
}
nav .nav-container .nav-links ul li:hover a .nav-icon {
  color: var(--red);
}
nav .nav-container .team p {
  font-size: 0.8rem;
  text-align: center;
}
@media (max-width: 820px) {
  nav .nav-container .team p {
    display: none;
  }
}

.main-contents {
  background-color: var(--main-background);
  padding: 0 2rem;
}
@media (max-width: 820px) {
  .main-contents {
    padding: 0;
  }
}
.main-contents .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}
@media (max-width: 820px) {
  .main-contents .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 820px) {
  .main-contents .header form.search-box {
    margin: 1rem 0;
  }
}
.main-contents .header form.search-box .search-icon {
  color: #333;
  font-size: 0.9rem;
}
.main-contents .header form.search-box .search-input {
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid #efe7e3;
}
.main-contents .header form.search-box .search-input:focus {
  outline: none;
}
.main-contents .header form.search-box .search-input::-webkit-input-placeholder {
  color: var(--sub-text);
  font-size: 0.9rem;
}
.main-contents .header form.search-box .search-input::-moz-placeholder {
  color: var(--sub-text);
  font-size: 0.9rem;
}
.main-contents .header form.search-box .search-input:-ms-input-placeholder {
  color: var(--sub-text);
  font-size: 0.9rem;
}
.main-contents .header form.search-box .search-input::-ms-input-placeholder {
  color: var(--sub-text);
  font-size: 0.9rem;
}
.main-contents .header form.search-box .search-input::placeholder {
  color: var(--sub-text);
  font-size: 0.9rem;
}
.main-contents .header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-contents .header .buttons .theme-btn .check-box {
  opacity: 0;
  position: absolute;
}
.main-contents .header .buttons .theme-btn .label {
  position: relative;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  height: 26px;
  width: 50px;
  margin: 0 1rem;
}
.main-contents .header .buttons .theme-btn .label .moon-icon {
  color: #f1c40f;
}
.main-contents .header .buttons .theme-btn .label .sun-icon {
  color: #f39c12;
}
.main-contents .header .buttons .theme-btn .label .boll {
  background-color: #fff;
  height: 22px;
  width: 22px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  cursor: pointer;
}
.main-contents .header .buttons .theme-btn .label .boll.checked {
  -webkit-transform: translateX(24px) !important;
          transform: translateX(24px) !important;
}
.main-contents .main-content .sub-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem 0;
}
@media (max-width: 820px) {
  .main-contents .main-content .sub-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-contents .main-content .sub-header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 820px) {
  .main-contents .main-content .sub-header .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.main-contents .main-content .sub-header .right .image img {
  width: 80px;
  height: 80px;
}
.main-contents .main-content .sub-header .right .text {
  margin: 0 1rem;
}
@media (max-width: 820px) {
  .main-contents .main-content .sub-header .right .text {
    margin: 1rem;
  }
}
.main-contents .main-content .sub-header .right .text h1 {
  margin: 0;
}
.main-contents .main-content .sub-header .right .text p {
  margin: 0.5rem 0;
  color: var(--sub-text);
}
.main-contents .main-content .sub-header .left .nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  position: relative;
  padding: 1rem;
}
.main-contents .main-content .sub-header .left .nums:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: var(--sub-text);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-contents .main-content .sub-header .left .nums .num {
  text-align: center;
}
.main-contents .main-content .sub-header .left .nums .num h2 {
  font-size: 2rem;
}
.main-contents .main-content .sub-header .left .nums .num span {
  color: var(--sub-text);
}
.main-contents .main-content .cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  padding: var(--section-padding) 0;
}
.main-contents .main-content .cards .card {
  position: relative;
  background-color: #fff;
  padding: 4rem 1rem 1rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 4rem;
}
.main-contents .main-content .cards .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 20px 20px #db352928;
          box-shadow: 0 20px 20px #db352928;
}
.main-contents .main-content .cards .card .food-image {
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-contents .main-content .cards .card .food-image img {
  width: 120px;
  height: 120px;
}
.main-contents .main-content .cards .card h3 {
  font-size: 1.1rem;
}
.main-contents .main-content .cards .card .level {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.8rem 0 1.5rem;
}
.main-contents .main-content .cards .card .level[data-level=beginner] {
  color: var(--green);
  background-color: var(--green-background);
}
.main-contents .main-content .cards .card .level[data-level=advanced] {
  color: var(--red-text);
  background-color: var(--red-background);
}
.main-contents .main-content .cards .card .level[data-level=intermediate] {
  color: var(--yellow);
  background-color: var(--yellow-background);
}
.main-contents .main-content .cards .card .nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-contents .main-content .cards .card .nums .hour h3,
.main-contents .main-content .cards .card .nums .kcal h3,
.main-contents .main-content .cards .card .nums .type h3 {
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
}
.main-contents .main-content .cards .card .nums .hour span,
.main-contents .main-content .cards .card .nums .kcal span,
.main-contents .main-content .cards .card .nums .type span {
  display: inline-block;
  color: var(--sub-text);
}
.main-contents .main-content .cards .card .nums .type .image img {
  width: 30px;
}
.main-contents .main-content .cards .card .starts {
  margin: 1.2rem 0;
}
.main-contents .main-content .cards .card .starts i {
  color: var(--red);
}
.main-contents .main-content .cards .card .btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
}
.main-contents .main-content .cards .card .btn .start-btn {
  position: absolute;
  background-color: #fff;
  width: calc(100% + 32px);
  height: 120%;
  border: none;
  bottom: -16px;
  color: #333;
  font-weight: 600;
  border-radius: 0 0 1rem 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.main-contents .main-content .cards .card:hover .start-btn {
  background-color: var(--red);
  color: #fff;
}

.landing .landing-image img {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}
@media (max-width: 991px) {
  .container .social-media {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.container .social-media ul.fivoret {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  border: 2px solid #ebebeb;
  border-radius: 0.8rem;
}
.container .social-media ul.fivoret button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  padding: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container .social-media ul.fivoret button:focus {
  outline: none;
}
.container .social-media ul.fivoret button:hover {
  background-color: var(--main-background);
}
.container .social-media ul.fivoret button.fivoret {
  border-radius: 0.6rem;
}
.container .social-media ul.fivoret button.fivoret:hover .social-icon {
  color: var(--red);
}
.container .social-media ul.fivoret button.more-list {
  border-radius: 0 0.6rem 0.6rem 0;
}
.container .social-media ul.fivoret button i.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}
.container .social-media ul.fivoret button:hover span {
  display: block;
}
.container .social-media ul.fivoret button span {
  position: absolute;
  display: none;
  background-color: #fff;
  bottom: calc(100% + 16px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.6rem;
  pointer-events: none;
}
.container .social-media ul.fivoret button span:before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 8px solid;
  border-color: #fff transparent transparent;
}
.container .social-media ul.social-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  border: 2px solid #ebebeb;
  position: relative;
  border-radius: 0.8rem;
}
.container .social-media ul.social-media-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  background-color: #fff;
  border-radius: 0.6rem;
}
@media (max-width: 991px) {
  .container .social-media ul.social-media-list ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(10px);
            transform: translateX(-50%) translateY(10px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid #ebebeb;
    border-radius: 0.8rem;
  }
}
.container .social-media ul.social-media-list ul li {
  position: relative;
  width: 100%;
  cursor: pointer;
}
@media (max-width: 991px) {
  .container .social-media ul.social-media-list ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.3rem;
  }
}
.container .social-media ul.social-media-list ul li:first-child {
  border-radius: 0.6rem 0 0 0.6rem;
}
@media (max-width: 991px) {
  .container .social-media ul.social-media-list ul li:first-child {
    border-radius: 0.6rem 0.6rem 0 0;
  }
}
.container .social-media ul.social-media-list ul li:hover {
  background-color: var(--main-background);
}
.container .social-media ul.social-media-list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  text-decoration: none;
  padding: 0.8rem;
}
.container .social-media ul.social-media-list ul li a i.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  width: 24px;
  color: #333;
}
.container .social-media ul.social-media-list ul li:hover span {
  display: block;
}
.container .social-media ul.social-media-list ul span {
  position: absolute;
  display: none;
  background-color: #fff;
  bottom: calc(100% + 16px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.6rem;
  pointer-events: none;
}
@media (min-width: 992px) {
  .container .social-media ul.social-media-list ul span:before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 8px solid;
    border-color: #fff transparent transparent;
  }
}
@media (max-width: 991px) {
  .container .social-media ul.social-media-list ul span {
    position: unset;
    display: block;
    background-color: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.container .social-media ul.social-media-list button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  padding: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container .social-media ul.social-media-list button:focus {
  outline: none;
}
.container .social-media ul.social-media-list button:hover {
  background-color: var(--main-background);
}
.container .social-media ul.social-media-list button.more-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0 0.6rem 0.6rem 0;
}
.container .social-media ul.social-media-list button.more-list.active + ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 992px) {
  .container .social-media ul.social-media-list button.more-list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.container .social-media ul.social-media-list button i.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}
.container .social-media ul.social-media-list button:hover span {
  display: block;
}
.container .social-media ul.social-media-list button span {
  position: absolute;
  display: none;
  background-color: #fff;
  bottom: calc(100% + 16px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.6rem;
  pointer-events: none;
}
.container .social-media ul.social-media-list button span:before {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 8px solid;
  border-color: #fff transparent transparent;
}
.container .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .member .member-image {
  border-radius: 50%;
  overflow: hidden;
  width: 130px;
  height: 130px;
  margin: calc(-65px - 3.375rem);
  border: 2px solid var(--yellow);
}
.container .member .member-image img {
  width: 130px;
  height: 130px;
}
.container .member .member-text {
  margin-top: calc(+65px + 3.375rem);
  text-align: center;
  max-width: 400px;
}
.container .member .member-text .name {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.container .member .member-text .name .image {
  position: relative;
  margin: 0 0.5rem;
  pointer-events: none;
}
.container .member .member-text .name .image img {
  width: 32px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -25px;
}
.container .member .member-text .name h2 {
  font-size: 2rem;
}
.container .member .member-text p {
  line-height: 1.2;
}
.container .member .nums {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #ebebeb;
}
.container .member .nums .num {
  text-align: center;
  margin: 0 2rem;
}
.container .member .nums .num .image img {
  width: 32px;
}
.container .cards-container {
  padding: var(--section-padding) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .cards-container .filter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}
.container .cards-container .filter .selected {
  background-color: #fff;
  border-radius: 0.6rem;
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  border: 2px solid #ebebeb;
  width: 300px;
}
.container .cards-container .filter .selected::after {
  content: "";
  font-family: fontawesome;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.container .cards-container .filter .options-container {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 2px solid #ebebeb;
  color: #333;
  width: 100%;
  margin-top: 0.5rem;
  visibility: hidden;
  border-radius: 0.6rem;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.container .cards-container .filter .options-container.active {
  visibility: visible;
}
.container .cards-container .filter .options-container.active + .selected::after {
  -webkit-transform: rotate(180deg) translateY(8px);
          transform: rotate(180deg) translateY(8px);
}
.container .cards-container .filter .options-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 0 0.6rem 0.6rem 0;
}
.container .cards-container .filter .options-container::-webkit-scrollbar-thumb {
  border-radius: 0 0.6rem 0.6rem 0;
}
.container .cards-container .filter .option,
.container .cards-container .filter .selected {
  padding: 12px 24px;
  cursor: pointer;
}
.container .cards-container .filter .option:hover {
  background-color: var(--main-background);
}
.container .cards-container .filter label {
  cursor: pointer;
}
.container .cards-container .filter .option .radio {
  display: none;
}
.container .cards {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  padding: 1rem 0;
}
.container .cards .card {
  display: block;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container .cards .card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.container .cards .card .image {
  height: 100%;
}
.container .cards .card .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .cards .card .content {
  width: 90%;
  background: #fff;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  left: 50%;
  bottom: 6%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 2px 4px 10px #00000040;
          box-shadow: 2px 4px 10px #00000040;
}
.container .cards .card .content .text {
  text-align: center;
  margin-bottom: 1rem;
}
.container .cards .card .content .text h2 {
  font-size: 1.5rem;
}
.container .cards .card .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .cards .card .content .info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .cards .card .content .info span .image {
  margin: 0 0.5rem;
}
.container .cards .card .content .info span .image img {
  width: 25px;
}
.container .cards .card .content .info span span span {
  margin: 0 0.2rem;
}

.cook-landing .landing-image img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container .title h2 {
  font-size: 3rem;
  margin: 2rem 0;
}
.container .cooker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.container .cooker .creat {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: var(--sub-text);
  font-weight: 600;
}
.container .cooker .sub-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0.4rem;
  border: 2px solid #ddd;
  border-radius: 0.6rem;
  background-color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.container .cooker .sub-member .image {
  width: 30px;
  height: 30px;
  border-radius: 0.6rem;
  background-color: var(--pink);
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px #41414180 inset;
          box-shadow: 0 0 4px #41414180 inset;
}
@media (max-width: 820px) {
  .container .cooker .sub-member .image {
    width: 20px;
    height: 20px;
    margin: 0 1rem;
  }
}
.container .cooker .sub-member .image img {
  width: 100%;
  height: 100%;
}
.container .cooker .sub-member .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0.5rem;
}
.container .cooker .sub-member .text .name h3 {
  font-size: 0.8rem;
  color: #333;
}
.container .cooker .sub-member .text .name p {
  color: var(--sub-text);
  font-size: 0.7rem;
}
.container .content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
  grid-template-columns: 1fr 200px;
  padding: var(--section-padding) 0;
}
.container .content-container .content .cooking-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}
.container .content-container .content .ingredients-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: var(--section-padding);
}
.container .content-container .content .ingredients-contents .ingredients,
.container .content-container .content .ingredients-contents .directions {
  width: 50%;
}
.container .content-container .content .ingredients-contents .ingredients-header,
.container .content-container .content .ingredients-contents .directions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}
.container .content-container .content .ingredients-contents .ingredients-header .image,
.container .content-container .content .ingredients-contents .directions-header .image {
  margin: 0 0.5rem;
}
.container .content-container .content .ingredients-contents .ingredients-header .image img,
.container .content-container .content .ingredients-contents .directions-header .image img {
  width: 32px;
}
.container .content-container .content .ingredients-contents .ingredients-content ul,
.container .content-container .content .ingredients-contents .directions-content ul {
  margin: 0 4rem;
}
.container .content-container .content .ingredients-contents .ingredients-content ul li,
.container .content-container .content .ingredients-contents .directions-content ul li {
  margin: 0.5rem;
  list-style: none;
  position: relative;
}
.container .content-container .content .ingredients-contents .ingredients-content ul li::before,
.container .content-container .content .ingredients-contents .directions-content ul li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--yellow);
  left: -20px;
  top: 4px;
}
.container .content-container .content .ingredients-contents .ingredients-content .to-serve,
.container .content-container .content .ingredients-contents .directions-content .to-serve {
  margin: 0.5rem 0;
}
.container .content-container .content .ingredients-contents .ingredients-content .to-serve-header,
.container .content-container .content .ingredients-contents .directions-content .to-serve-header {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .content-container .content .ingredients-contents .ingredients-content .to-serve-header .image,
.container .content-container .content .ingredients-contents .directions-content .to-serve-header .image {
  margin: 0 0.5rem;
}
.container .content-container .content .ingredients-contents .ingredients-content .to-serve-header .image img,
.container .content-container .content .ingredients-contents .directions-content .to-serve-header .image img {
  width: 32px;
}
.container .content-container .content .ingredients-contents .directions-content {
  counter-reset: section;
}
.container .content-container .content .ingredients-contents .directions-content p {
  position: relative;
  margin: 0.5rem 4rem;
  padding: 0.5rem;
}
.container .content-container .content .ingredients-contents .directions-content p::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  top: 0;
  left: -25px;
  font-size: 1.2rem;
  font-weight: 600;
}
.container .content-container .content .ingredients-contents .directions-content p:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  border-radius: 1rem;
  top: 0;
  left: -10px;
  background-color: var(--green);
}
@media (max-width: 991px) {
  .container .content-container .other-cook {
    padding-top: var(--section-padding);
  }
}
.container .content-container .other-cook .other-cook-header h3 {
  font-family: "Aclonica", sans-serif;
}