<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foody</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foody</title>
    <!-- Style Link -->
    <link rel="stylesheet" href="./main.css" />
    <!-- <link rel="stylesheet" href="./css/main-style.css"> -->
    <!-- Top Icon -->
    <link rel="shrtcut icon" type="image/svg" href="./icons/top-logo.png" />
    <!-- Awesome Font -->
    <link rel="stylesheet" href="./css/all.min.css" />
    <!-- Normalize -->
    <link rel="stylesheet" href="./css/normalize.css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Start Header -->
    <main-header></main-header>
    <!-- End Header -->

    <!-- Start main -->
    <div class="landing">
      <div class="landing-image">
        <img src="./images/member-page-img/landing.jpg" alt="" />
      </div>
    </div>
    <div class="container">
      <div class="social-media">
        <ul class="fivoret">
          <button class="fivoret">
            <i class="fa-solid fa-heart social-icon"></i>
            <span>Fivoret</span>
          </button>
        </ul>
        <ul class="social-media-list">
          <button class="more-list">
            <i class="fa-solid fa-ellipsis-vertical social-icon"></i>
          </button>
          <ul>
            <li>
              <a href="#" target="_blank">
                <i class="fa-brands fa-instagram social-icon"></i>
              </a>
              <span>Instagram</span>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fa-brands fa-facebook-f social-icon"></i>
              </a>
              <span>Facebook</span>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fa-brands fa-discord social-icon"></i>
              </a>
              <span>Discord</span>
            </li>
          </ul>
        </ul>
      </div>
      <div class="member">
        <div class="member-image">
          <img src="./images/member-page-img/cooker.jpg" alt="" />
        </div>
        <div class="text">
          <div class="name">
            <div class="image">
              <img src="./icons/member-page-icon/verify.png" alt="verfy" />
            </div>
            <h2>Majeed Alberawi</h2>
          </div>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae,
            recusandae.
          </p>
        </div>
        <div class="nums">
          <div class="num">
            <div class="image">
              <img src="./icons/dish.png" alt="" />
            </div>
            <h3>26</h3>
            <span>Cooks</span>
          </div>
          <div class="num">
            <div class="image">
              <img src="" alt="" />
              ⭐
            </div>
            <h3><span>4.6</span> / 5</h3>
            <span>Stars</span>
          </div>
          <div class="num">
            <div class="image">
              <img src="" alt="" />
              👍🏻
            </div>
            <h3>10.1<span>K</span></h3>
            <span>Stars</span>
          </div>
        </div>
      </div>

      <div class="cards-container">
        <!-- Start Filter -->
        <div class="filter">
          <div class="options-container">
            <div class="option">
              <input type="radio" class="radio" id="chicken" name="category" />
              <label for="all-cooks">All Cooks</label>
            </div>

            <div class="option">
              <input type="radio" class="radio" id="chicken" name="category" />
              <label for="chicken">Chicken</label>
            </div>

            <div class="option">
              <input type="radio" class="radio" id="meat" name="category" />
              <label for="meat">Meat</label>
            </div>

            <div class="option">
              <input type="radio" class="radio" id="veg" name="category" />
              <label for="veg">Veg</label>
            </div>

            <div class="option">
              <input type="radio" class="radio" id="sweets" name="category" />
              <label for="sweets">Sweets</label>
            </div>
          </div>
          <div class="selected">All Cooks</div>
        </div>
        <!-- End Filter -->

        <div class="cards">
          <!-- Card 1 -->
          <a href="cook-page.html" class="card">
            <div class="image">
              <img src="./images/member-page-img/card-background.jpg" alt="" />
            </div>
            <div class="content">
              <div class="text">
                <h2>Shish</h2>
              </div>
              <div class="info">
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/favourite.png" alt="" />
                  </div>
                  4.9
                </span>
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/clock.png" alt="" />
                  </div>
                  <span> 20-30 <span>Min</span> </span>
                </span>
              </div>
            </div>
          </a>
          <!-- card 2 -->
          <a href="#" class="card">
            <div class="image">
              <img src="./images/member-page-img/card-background2.jpg" alt="" />
            </div>
            <div class="content">
              <div class="text">
                <h2>Salad</h2>
              </div>
              <div class="info">
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/favourite.png" alt="" />
                  </div>
                  4.9
                </span>
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/clock.png" alt="" />
                  </div>
                  <span> 20-30 <span>Min</span> </span>
                </span>
              </div>
            </div>
          </a>
          <!-- card 3 -->
          <a href="#" class="card">
            <div class="image">
              <img src="./images/member-page-img/card-background3.jpg" alt="" />
            </div>
            <div class="content">
              <div class="text">
                <h2>Fish</h2>
              </div>
              <div class="info">
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/favourite.png" alt="" />
                  </div>
                  4.9
                </span>
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/clock.png" alt="" />
                  </div>
                  <span> 20-30 <span>Min</span> </span>
                </span>
              </div>
            </div>
          </a>
          <!-- Card 4 -->
          <a href="#" class="card">
            <div class="image">
              <img src="./images/member-page-img/card-background4.jpg" alt="" />
            </div>
            <div class="content">
              <div class="text">
                <h2>Sope</h2>
              </div>
              <div class="info">
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/favourite.png" alt="" />
                  </div>
                  4.9
                </span>
                <span>
                  <div class="image">
                    <img src="./icons/member-page-icon/clock.png" alt="" />
                  </div>
                  <span> 20-30 <span>Min</span> </span>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- End main -->

    <!-- JavaScript -->
    <script src="../../includes/templates/header-footer.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/select-filter.js"></script>
    <script src="./js/member-page.js"></script>
  </body>
</html>
