:root {
  --green: #7dbfa2;
  --dark-green: #7bbfa4;
  --green-text: #98b4a7;
  --green-background: #eff4f0;
  --red: #db3529;
  --red-text: #ad727c;
  --red-background: #e9d7d8;
  --yellow: #db9f79;
  --yellow-background: #fff2e9;
  --pink: #fb7d73;
  --main-background: #fcf4f0;
  --sub-text: #afa7a3;
}
