.home-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: grid !important;
  // gap: 1.5rem;
  grid-template-columns: 240px 1fr !important;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  @media (max-width: 820px) {
    & {
      grid-template-columns: 1fr !important;
    }
  }
  /* Small */
  @media (min-width: 768px) {
    & {
      width: 820px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    & {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    & {
      width: 1220px;
    }
  }
}
.background-container {
  background: linear-gradient(90deg, #fff 50%, var(--main-background) 50%);
  @media (max-width: 820px) {
    & {
      background: unset;
      background-color: var(--main-background) !important;
    }
  }
}

nav {
  background-color: #fff;
  @media (max-width: 820px) {
    & {
      background-color: transparent;
    }
  }
  .nav-container {
    height: 100vh;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
    position: fixed;
    top: auto;
    @media (max-width: 820px) {
      & {
        width: 100%;
        position: relative;
        flex-direction: row;
        height: auto;
        padding: 1rem 0;
      }
    }
    .top {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media (max-width: 820px) {
        & {
          flex-direction: row;
        }
      }
      .logo-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          img {
            width: 60px;
          }
        }
      }
      .member {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media (max-width: 820px) {
          & {
            flex-direction: row;
            margin: 0 1rem;
          }
        }
        .image {
          width: 70px;
          height: 70px;
          border-radius: 0.6rem;
          background-color: var(--pink);
          display: flex;
          justify-content: center;
          align-items: flex-end;
          overflow: hidden;
          box-shadow: 0 0 4px #41414180 inset;
          @media (max-width: 820px) {
            & {
              width: 50px;
              height: 50px;
              margin: 0 1rem;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name {
          text-align: center;
          h2 {
            font-size: 1.3rem;
            margin: 0.2rem 0;
            @media (max-width: 820px) {
              & {
                font-size: 0.8rem;
                white-space: nowrap;
              }
            }
          }
          span {
            color: #bebebe;
            @media (max-width: 820px) {
              & {
                font-size: 0.7rem;
              }
            }
          }
        }
        .cooked-box {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 0.5rem;
          padding: 0.5rem 0.8rem;
          border-radius: 50px;
          background-color: #fff;
          text-decoration: none;
          color: #333;
          box-shadow: 0px 2px 8px rgba(68, 68, 68, 0.2);
          @media (max-width: 820px) {
            & {
              display: none;
            }
          }
          .cooked-box-icon {
            color: var(--red);
            margin-right: 0.5rem;
            font-size: 1rem;
          }
          span {
            font-weight: 600;
          }
        }
      }
    }

    .nav-links {
      // position: relative;
      .bar {
        display: none;
        font-size: 1.5rem;
        cursor: pointer;
        @media (max-width: 820px) {
          & {
            display: block;
          }
        }
        &.active {
          & + ul {
            display: block;
          }
        }
      }
      ul {
        list-style: none;
        @media (max-width: 820px) {
          & {
            display: none;
            position: absolute;
            background-color: #fff;
            padding: 1rem;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            top: 96px;
            text-align: center;
            border-radius: 1rem;
          }
        }
        li {
          margin: 1rem 0;
          @media (max-width: 820px) {
            & {
              padding: 1rem;
            }
          }
          a {
            opacity: 0.5;
            color: #333;
            text-decoration: none;
            transition: 0.3s;
            white-space: nowrap;
            .nav-icon {
              margin-right: 0.2rem;
              font-size: 1rem;
            }
          }
          &:hover {
            a {
              opacity: 1;
              .nav-icon {
                color: var(--red);
              }
            }
          }
        }
      }
    }
    .team {
      p {
        font-size: 0.8rem;
        text-align: center;
        @media (max-width: 820px) {
          & {
            display: none;
          }
        }
      }
    }
  }
}

// Main Content //
.main-contents {
  background-color: var(--main-background);
  padding: 0 2rem;
  @media (max-width: 820px) {
    & {
      padding: 0;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    @media (max-width: 820px) {
      & {
        justify-content: center;
      }
    }
    form.search-box {
      @media (max-width: 820px) {
        & {
          margin: 1rem 0;
        }
      }
      .search-icon {
        color: #333;
        font-size: 0.9rem;
      }
      .search-input {
        background-color: transparent;
        padding: 0.5rem;
        border: none;
        border-bottom: 2px solid #efe7e3;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: var(--sub-text);
          font-size: 0.9rem;
        }
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      .theme-btn {
        .check-box {
          opacity: 0;
          position: absolute;
        }
        .label {
          position: relative;
          background-color: #111;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 50px;
          padding: 5px;
          height: 26px;
          width: 50px;
          margin: 0 1rem;
          .moon-icon {
            color: #f1c40f;
          }
          .sun-icon {
            color: #f39c12;
          }
          .boll {
            background-color: #fff;
            height: 22px;
            width: 22px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            transition: transform 0.2s linear;
            cursor: pointer;
            &.checked {
              transform: translateX(24px) !important;
            }
          }
        }
      }
    }
  }
  .main-content {
    .sub-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 820px) {
        & {
          justify-content: center;
          flex-direction: column;
        }
      }
      padding: 3rem 0;
      .right {
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 820px) {
          & {
            flex-direction: column;
            justify-content: center;
            text-align: center;
          }
        }
        .image {
          img {
            width: 80px;
            height: 80px;
          }
        }
        .text {
          margin: 0 1rem;
          @media (max-width: 820px) {
            & {
              margin: 1rem;
            }
          }
          h1 {
            margin: 0;
          }
          p {
            margin: 0.5rem 0;
            color: var(--sub-text);
          }
        }
      }
      .left {
        .nums {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3rem;
          position: relative;
          padding: 1rem;
          &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: var(--sub-text);
            left: 50%;
            transform: translateX(-50%);
          }
          .num {
            text-align: center;
            h2 {
              font-size: 2rem;
            }
            span {
              color: var(--sub-text);
            }
          }
        }
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 2rem;
      padding: var(--section-padding) 0;
      .card {
        position: relative;
        background-color: #fff;
        padding: 4rem 1rem 1rem;
        text-align: center;
        border-radius: 1rem;
        transition: 0.3s;
        margin-top: 4rem;
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 20px 20px #db352928;
        }
        .food-image {
          position: absolute;
          top: -60px;
          left: 50%;
          transform: translateX(-50%);
          img {
            width: 120px;
            height: 120px;
          }
        }
        h3 {
          font-size: 1.1rem;
        }
        .level {
          display: inline-block;
          padding: 0.2rem 0.5rem;
          border-radius: 5px;
          font-size: 0.8rem;
          font-weight: 600;
          margin: 0.8rem 0 1.5rem;
          &[data-level="beginner"] {
            color: var(--green);
            background-color: var(--green-background);
          }
          &[data-level="advanced"] {
            color: var(--red-text);
            background-color: var(--red-background);
          }
          &[data-level="intermediate"] {
            color: var(--yellow);
            background-color: var(--yellow-background);
          }
        }
        .nums {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .hour,
          .kcal,
          .type {
            h3 {
              font-size: 1.2rem;
              width: 30px;
              height: 30px;
            }
            span {
              display: inline-block;
              color: var(--sub-text);
            }
          }
          .type {
            .image {
              img {
                width: 30px;
              }
            }
          }
        }
        .starts {
          margin: 1.2rem 0;
          i {
            color: var(--red);
          }
        }
        .btn {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 3rem;
          .start-btn {
            position: absolute;
            background-color: #fff;
            width: calc(100% + 32px);
            height: 120%;
            border: none;
            bottom: -16px;
            color: #333;
            font-weight: 600;
            border-radius: 0 0 1rem 1rem;
            transition: 0.3s;
            cursor: pointer;
          }
        }
        &:hover {
          .start-btn {
            background-color: var(--red);
            color: #fff;
          }
        }
      }
    }
  }
}
